<div class="p-3 mb-5 bg-success text-white"><h1>Crear Edificios</h1></div>
 
<form class="form-group col-5" method="post">
    <input class="form-control" type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


    <label class="form-label" for="name">Nombre del Edificio</label>
    <input class="form-control" id="name" name="name" type="text" required>


    <label class="form-label" for="address">Dirección</label>
    <input class="form-control" id="address" name="address" type="text" required>


    <label class="form-label" for="city">Ciudad</label>
    <input class="form-control mb-5" for="city" name="city" type="text" required>

    <input class="mb-3 btn btn-primary" type= "submit" value="Enviar">


</form>
<a class="btn btn-primary mb-5" href= "/building/index">Lista de Edificios</a>